# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\beginMyBusines\good_project\alibaba-cloud-learning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
